<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--<servlet>-->
        <!--<servlet-name>deleteDevice</servlet-name>-->
        <!--<servlet-class>ru.dev.lab8.Servlets.deleteDevice</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>deleteDevice</servlet-name>-->
        <!--<url-pattern>/deleteDevice</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>addDevice</servlet-name>-->
        <!--<servlet-class>ru.dev.lab8.Servlets.addDevice</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>addDevice</servlet-name>-->
        <!--<url-pattern>/addDevice</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>